
<!DOCTYPE html>
<html lang="en">

<link href="./app.component.css" rel="stylesheet" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  

</html>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="C:\Users\bimkarki\Web\WebsiteCH\church\src\app\app.js"></script>


<body class="background_image">
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>

  <div class="footer navbar fixed-bottom">
    <div class="foot_mar">
       <a href="http://www.ttuhsc.edu/" target="_blank" class="quietftr">Church 2023</a> 
       <a href="contact.php" title="contact us" class="quietftr">Contact Us</a> 
       <a href="help.php" title="help and FAQ" class="quietftr">Help</a> 
       <a href="disclaimer.php" title="Disclaimer" class="quietftr">Legal Disclaimer</a> 
       <a href="sitemap.php" title="Site Map" class="quietftr">Site Map</a> 
       <a href="#top" title="back to top" class="quietftr">Back To Top</a><br>
    </div>
  </div>
</body>


  
