
<!DOCTYPE html>
<html lang="en">

<link href="./app.component.css" rel="stylesheet" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  

</html>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="C:\Users\bimkarki\Web\WebsiteCH\church\src\app\app.js"></script>


<body class="background_image">
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>
  <div class="nav_design">  
    <nav  class="navbar navbar-light bg-light nav_design">
      <a class="navbar-brand nav_font " href="#">About</a>
      <a class="navbar-brand nav_font " href="#">Latest</a>
      <a class="navbar-brand nav_font " href="#">Calendar</a>
      <a class="navbar-brand nav_font " href="#">Happening Now!</a>
      <a class="navbar-brand nav_font" href="#">Study</a>
      <a class="navbar-brand nav_font" href="#">News Blog</a>
      <a class="navbar-brand nav_font" href="#">Contact</a>
      <a class="navbar-brand nav_font " href="#">Donate</a>   
      <a class="navbar-brand nav_font " href="#">Find US</a>   
    </nav> 
    <div class=" text-center  shadow-lg mar" >
      <h1 class="font">Oakwood Wesleyan Fellowship </h1>
    <br>
      <h2 class="font">Lubbock Texas</h2>
    </div>
    
  
  </div>
  <div class="footer navbar fixed-bottom">
    <div class="foot_mar ">
       <a href="http://www.ttuhsc.edu/" target="_blank" class="quietftr">Church 2023</a> 
       <a href="contact.php" title="contact us" class="quietftr">Contact Us</a> 
       <a href="help.php" title="help and FAQ" class="quietftr">Help</a> 
       <a href="disclaimer.php" title="Disclaimer" class="quietftr">Legal Disclaimer</a> 
       <a href="sitemap.php" title="Site Map" class="quietftr">Site Map</a> 
       <a href="#top" title="back to top" class="quietftr">Back To Top</a><br>
    </div>
  </div>
</body>


  
