html,body{
    width:100%;
    margin:0;
    padding:0;
   
  
  }

  .background_image{
    background-image: url('admin-dusk-1280x800.jpg');
    height: 100vh
  }

  .footer{
    background-color: aliceblue;
  }